.display {
    width: 190px;
    height: 30px;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: right;
    padding: 5px;
    border: 1px solid gray;
    background-color: white;
    border-radius: 4px;
    box-shadow: inset 1px 1px 3px darkgray;
}
